
<div style="display:flex; justify-content :center; align-items : center; height:70% ;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
    <div style="border-radius:20px; padding:50px 30px;">

<h1 style="color:aqua;">
    hi <%= name %> You are succesfully log in 
</h1>

<form action="/logout?_method=DELETE" method="POST">
    <div style=" display: flex ;  justify-content:center ;align-items:center; margin-top:5px;">
        <button style="color:aliceblue; background-color:black; padding:2px 20px; border-radius:10px " type="submit">Log Out</button>
    </div>
</form> 
    </div>
</div>
